{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "css",
  "singleQuote": false,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "quoteProps": "as-needed"
}
