# Ignore client node_modules

# Exclude server directory and its contents
!/server/**
!/server/

# Ignore build and node_modulesand build directories
/client/node_modules
/server/node_modules
/server/build
/client/build

# Exclude specific files
!/scripts/*.sh
!docker-compose.yml
!/client/DockerFile
!.gitignore
!**.md
!**.html
!**.js
!**.jsx
!**.sh
!**.env
!**.json
